SECRET_KEY=django-insecure-k7^*4o8c#5enk62t$j31^(s8ewb%d44i6+pg9gv#ea20ih$&hr
DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=postgres
POSTGRES_DB=
POSTGRES_PASSWORD=
PG_HOST=postgres-db
PG_PORT=5432
SKSTRIPE=